body {
  background-color: $dt("color.black");
  color: $dt("color.white") !important;
  min-height: 100vh;
}

:root {
  --card-size: 45px;
  --card-gap-x: 6px;
  --card-gap-y: 6px;
}

@sm {
  :root {
    --card-size: 50px;
  }
}

@md {
  :root {
    --card-size: 55px;
    --card-gap-x: 8px;
    --card-gap-y: 8px;
  }
}

@lg {
  :root {
    --card-size: 60px;
    --card-gap-x: 10px;
    --card-gap-y: 10px;
  }
}

.card-wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-size));
  grid-template-rows: repeat(auto-fill, var(--card-size));
  grid-auto-flow: dense;
  grid-gap: var(--card-gap-x) var(--card-gap-y);

  justify-content: space-evenly;
  justify-items: center;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

body::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-md;
}

.dark body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.dark body::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

.dark body::-webkit-scrollbar-thumb {
  @apply bg-gray-800 rounded-md;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
