#__nuxt {
	min-height: 100vh;
}

body {
	background-color: #f5f5f5;
	color: rgb(14, 14, 14);
	min-height: 100vh;
}

:root {
	--card-size: 80px;
	--card-gap-x: 10px;
	--card-gap-y: 10px;
}

.card-wrapper-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--card-size));
	grid-template-rows: repeat(auto-fill, var(--card-size));
	grid-auto-flow: dense;
	grid-gap: var(--card-gap-x) var(--card-gap-y);
}

body::-webkit-scrollbar {
	width: 5px;
	height: 5px;

	/* background-image: linear-gradient(); */
}

body::-webkit-scrollbar-track {
	background-color: $dt('color.gray.100');
}

body::-webkit-scrollbar-thumb {
	background-color: $dt('color.gray.400');
	border-radius: 5px;
}

.dark body::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.dark body::-webkit-scrollbar-track {
	background-color: $dt('color.gray.900');
}

.dark body::-webkit-scrollbar-thumb {
	background-color: $dt('color.gray.600');
	border-radius: 5px;
}